# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/

# Environment / secrets
.env
.env.*

# Local DB / logs
*.db
logs/
*.log

# OS
.DS_Store
Thumbs.db
